<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header') %> <%- body %>
    <!-- ejs-mate will insert page content here -->

    <%- include('../partials/footer') %>
  </body>
</html>
